**/.nyc_output/
**/.parcel-cache/
**/.storybook/
**/.vscode/
**/build/
**/coverage/
**/dist/
**/node_modules/
**/public/js/
**/stories/
**/tmp/

.DS_Store
.env*
!.env.sample
*.code-workspace
*.pem
*.sqlite*
*.tsbuildinfo
