body {
  align-content: center;
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  width: 100vw;
}

body > main {
  display: flex;
  flex-direction: column;
  align-content: center;
}

section#peer {
  display: flex;
}

section#peer > video {
  height: 18.75vw;
  width: 25vw;
}

section#peer > div {
  height: 18.75vw;
  width: 25vw;
  border-color: yellow;
  border-style: solid;
  border-width: thick;
}

section#peer > div > p {
  color: yellow;
  font-size: xx-large;
  font-weight: thick;
}

section#phaser {
  border-color: yellow;
  border-style: solid;
  border-width: thick;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
