/* body *******************************************************************/
body {
  display: flex;
  flex-direction: column;
}

body > header {
  /* TODO */
}

body > header > nav {
  /* TODO */
}

/* main *******************************************************************/
body > main {
  /* TODO */
}

body > main > header {
  /* TODO */
}

body > main > header > nav {
  border-bottom: 1px solid black;
}

body > main > header > nav > ol {
  list-style-type: none;
  padding-left: 0;
}

body > main > header > nav > ol > li {
  display: inline-block;
}

body > main > header > nav > ol > li a::after {
  display: inline-block;
  color: #000;
  content: ">";
  font-size: 80%;
  font-weight: bold;
  padding: 0 3px;
}

/* section ****************************************************************/
body > main > section {
  /* TODO */
}

body > main > section > header {
  /* TODO */
}

/* article ****************************************************************/
body > main > section > article {
  /* TODO */
}

body > main > section > article > header {
  /* TODO */
}

body > main > section > article > blockquote {
  font-family: monospace;
}

body > main > section > article > footer {
  /* TODO */
}

body > main > section > footer {
  /* TODO */
}

body > main > footer {
  /* TODO */
}

body > main > footer > nav {
  /* TODO */
}

body > footer {
  /* TODO */
}

body > footer > nav {
  /* TODO */
}
